<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.xapkreader"
    version="1.0.0">

    <engines>
        <engine name="cordova" version=">=2.0.0" />
    </engines>

    <name>XAPKReader</name>

    <description>Access files in APK Expansion Files</description>

    <asset src="www/xapkreader.js" target="xapkreader.js" />

    <license>MIT</license>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="XAPKReader" value="com.phonegap.plugins.xapkreader.XAPKReader"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- Required to read and write the expansion files on shared storage -->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
    
        <!-- cordova plugin src files -->
        <source-file src="src/android/XAPKReader.java" target-dir="src/com/phonegap/plugins/xapkreader" />

        <!-- Downloader Library -->
        <source-file src="src/android/downloader/Constants.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/DownloaderClientMarshaller.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/DownloaderServiceMarshaller.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/DownloadProgressInfo.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/Helpers.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/IDownloaderClient.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/IDownloaderService.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/IStub.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/SystemFacade.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/AndroidHttpClient.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/CustomIntentService.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/CustomNotificationFactory.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/DownloaderService.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/DownloadInfo.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/DownloadNotification.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/DownloadsDB.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/DownloadThread.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/HttpDateTime.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/V3CustomNotification.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        <source-file src="src/android/downloader/impl/V14CustomNotification.java" 
              target-dir="src/com/google/android/vending/expansion/downloader" />
        
        <!-- APK Expansion Zip Library -->
        <source-file src="src/android/zipfile/APEZProvider.java" 
              target-dir="src/com/android/vending/expansion/zipfile" />
        <source-file src="src/android/zipfile/APKExpansionSupport.java" 
              target-dir="src/com/android/vending/expansion/zipfile" />
        <source-file src="src/android/zipfile/ZipResourceFile.java" 
              target-dir="src/com/android/vending/expansion/zipfile" />

    </platform>

</plugin>