<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.phonegap.plugins.xapkreader"
	version="2.0.0">

	<name>XAPKReader</name>

	<description>Access files into APK Expansion Files</description>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module src="www/xapkreader.js" name="XAPKReader">
		<clobbers target="XAPKReader" />
	</js-module>

	<!-- android -->
	<platform name="android">

		<config-file target="config.xml" parent="/*">
			<feature name="XAPKReader">
				<param name="android-package" value="com.phonegap.plugins.xapkreader.XAPKReader" />
			</feature>
		</config-file>
		
		<!-- cordova plugin src files -->
		<source-file src="src/android/XAPKReader.java" target-dir="src/com/phonegap/plugins/xapkreader" />

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<!-- Required to read and write the expansion files on shared storage -->
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>
	
	</platform>

</plugin>